<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>267456271037-tm7174ppa36rp0ek24b7s9gebvqo0su5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267456271037-tm7174ppa36rp0ek24b7s9gebvqo0su5</string>
	<key>API_KEY</key>
	<string>AIzaSyBViLnry_a05wVNoQLBip0ZTFCqMH_OIbM</string>
	<key>GCM_SENDER_ID</key>
	<string>267456271037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.co.logmate.friendlychat</string>
	<key>PROJECT_ID</key>
	<string>flutter-friendly-chat-ce7c4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-friendly-chat-ce7c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267456271037:ios:8a155b4f8a6149e5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-friendly-chat-ce7c4.firebaseio.com</string>
</dict>
</plist>